.droplistStyle {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    color: #555555;
}
.encabezado {
    padding: 5px;
    color: white;
    background-color: #1d2b52;
}

.piezaTalavera{    
    padding:1vw;
    
}

.encabezadoPiezaTalavera{    
    color: black;
    margin-top:3vw;   
}