@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Imagen/talavera_azulejo.png" style="width: 80px;float: left; margin-right: 15px;" />
<p>Acerca de <b>Talavera de la Luz - CONTROL ADMINISTRATIVO</b> es un sistema que permite tener el registro de los procesos que incluye todas las actividades 
    que se emprenden en la fábrica Talavera de la Luz para garantizar que todas las operaciones se realicen correctamente y así tener las evaluaciones de los 
    resultados y tomar las medidas necesarias para minimizar las ineficiencias.</p>
