@{
    ViewBag.Title = "Contacto";
}
<img src="~/Imagen/talavera_azulejo.png" style="width:50px; width: 50px;float: left; margin-right: 15px; margin-top: 10px" />
<h2>@ViewBag.Title</h2>

<address>
    Juan de Palafox y Mendoza 1413 <br />
    Col. Centro, Puebla. México <br />
    <abbr title="Phone">P:</abbr>
    (222) 246-12-15
</address>

<address>
    <strong>Instagram:</strong>   <a href="https://www.instagram.com/talaveradelaluz/">www.instagram.com/talaveradelaluz</a><br />
    <strong>Pinterest:</strong> <a href="https://www.pinterest.es/talaveradelaluz/">www.pinterest.es/talaveradelaluz</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/pages/Talavera-La-Luz/">www.facebook.com/pages/Talavera-La-Luz</a>
</address>
<img src="~/Imagen/slide-image-4.jpg" style="width:30rem"/>