@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h2>Talavera</h2>
    <img src="~/Imagen/historia2.jpg" style="margin-right: 15px;width: 200px; position: inherit; float: left;" />
    <p class="lead">La talavera es un tipo de cerámica mayólica que surge desde el siglo XVI. La Mayólica, es el nombre que se le da desde el renacimiento a un tipo de decoración cerámica sobre loza, con un esmalte de plomo opacificado con estaño y que posteriormente se decora con los diversos motivos con óxidos sobre la anterior base.</p>
    <p><a href="http://www.talaveradelaluz.com" class="btn btn-primary btn-lg">Acerca de &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>ProcesoS de Elaboración</h3>
        <p>
            El proceso de elaboración de la Talavera se origina en la época colonial y se mantiene hasta hoy...
        </p>
        <p><a class="btn btn-default" href="http://www.talaveradelaluz.com/?q=es/node/44">Acerca de  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Quienes somos</h3>
        <p>Talavera de la Luz se fundó en la ciudad de Puebla en 1996, en un esfuerzo por preservar el legado cultural y la tradición artesanal de más de 400 años.</p>
        <p><a class="btn btn-default" href="http://www.talaveradelaluz.com/?q=es/node/34">Acerca de  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3> Colección de mapas</h3>
        <p>La colección de mapas antiguos en Talavera de la Luz se inició en 1996, año en que se fundó Talavera de la Luz.</p>
        <p><a class="btn btn-default" href="http://www.talaveradelaluz.com/?q=es/node/41">Acerca de &raquo;</a></p>
    </div>
</div>